.detail_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
}

.map_container,
.info_container {
    flex-basis: 100%;
}

.map_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.info_container {
    font-size: 1.3rem;
}

@media all and (max-width: 900px) {
    .map_container {
        justify-content: center;
    }

    .detail_container {
        flex-direction: column;
        gap: 1rem;
    }
}