/* styling for entire project */
/* -------------------------- */

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

/* icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* color variables */

.light-mode {
    --body-text: 24, 13, 3;
    --body-background: 255, 251, 242;
    --body-link: 138, 85, 21;
    --body-link-hover: 92, 60, 14;
    --body-box-shadow: 226, 217, 196;
    --nav-text: 238, 206, 141;
    --nav-background: 73, 46, 20;
    --nav-link: 218, 165, 32;
    --nav-link-hover: 255, 215, 0;
    --input-background: 218, 165, 32;
    --option-background: 248, 234, 200;
}

.dark-mode {
    --body-text: 246, 241, 230;
    --body-background: 23, 17, 10;
    --body-link: 218, 165, 32;
    --body-link-hover: 255, 215, 0;
    --body-box-shadow: 36, 29, 10;
    --nav-text: 238, 206, 141;
    --nav-background: 31, 23, 11;
    --nav-link: 218, 165, 32;
    --nav-link-hover: 255, 215, 0;
    --input-background: 218, 165, 32;
    --option-background: 77, 52, 6;
}

/* body */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    color: rgb(var(--body-text));
    background-color: rgb(var(--body-background));
}

header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: "Barlow Condensed", sans-serif;
}

/* links */

a {
    color: rgb(var(--body-link));
}

a:hover {
    color: rgb(var(--body-link-hover));
}

.notactive {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* input elements */

input {
    font-family: "Heebo", sans-serif;
    padding: .3rem;
    border: 1.5px outset rgba(var(--body-link), .1);
    color: rgb(var(--body-text));
    background-color: rgba(var(--input-background), .1);
}

input:hover,
input:focus,
input:active {
    background-color: rgba(var(--input-background), .2);
}

input[type=radio],
input[type=checkbox] {
    accent-color: rgb(var(--body-link));
}

/* lists */

ul {
    list-style-type: square
}