.nav:first-child {
    grid-column-start: 2;
}

@media all and (max-width: 800px) {
    .nav {
        padding: 0 1rem;
        text-align: left;
    }

    .nav:first-child {
        grid-column-start: 1;
    }

    .menu li {
        margin-left: 0;
    }
}