.viewbar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem;
    gap: 1rem;
}

.viewbar>div:nth-child(1) {
    flex-grow: 1;
}

@media all and (max-width: 800px) {
    .viewbar {
        justify-content: flex-start;
        flex-wrap: wrap;
        border-bottom: 1.5px solid rgba(var(--body-link), .1);
        margin-bottom: 2rem;
    }
}