.main {
    display: grid;
    grid-template-areas:
        "title title"
        "filters countries_container";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

@media all and (max-width: 800px) {
    .main {
        grid-template-areas:
            "title"
            "filters"
            "countries_container";
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
    }
}