.filters {
    grid-area: filters;
    background-color: rgba(var(--input-background),.1);
    background-color: rgb(var(--body-background));
    padding: 1rem;
    z-index: 99;
    border-right:  1.5px solid rgba(var(--body-link), .1);
}

.filters_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1.5px solid rgba(var(--body-link),.2); 
    margin: 0;
    cursor: pointer;
}

.filters_title h2 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

.filters_title p {
    font-size: 2rem;
    margin: 0;
}

.filters_form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 2rem;
    width: 230px;
}

.filters_form fieldset {
    border: 1px solid rgba(var(--input-background),.5);
    padding: 1rem .7rem;
}

.filters_form fieldset legend {
    font-size: 1.2rem;
    padding: 0 .5rem;
    color: rgba(var(--body-link));
}

.filters_form fieldset:last-child {
    margin-bottom: 1rem;
}

/* hide hideButton on desktop */
.filters_form>button {
    display: none;
}

@media all and (max-width: 800px) {
    .filters {
        border: none;
    }

    .filters_title {
        padding: .5rem 1rem;
        background-color: rgba(var(--input-background),.1);
        border: 1.5px solid rgba(var(--body-link), .1);
    }

    .filters_title h2 {
        font-size: 1.2rem;
        margin: .3rem 0;
    }

    .filters_title p {
        font-size: 2rem;
        margin: 0;
    }

    .filters_form {
        border-bottom: 1.5px solid rgba(var(--body-link), .1);
        width: 100%;
    }

    /* show hideButton */
    .filters_form>button {
        display: block;
    }
}